# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\johnn\OneDrive - Queen's University Belfast\Circuits and Control ELE2024\Inverted_Pendulum_Lab2_40257184\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
